*{
    margin: 0;
    font-family:Arial;
   
}
.navbar{ 
    height:60px;
    background-color: #0F1111;
    color:white;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box1 */
.nav-logo{
    height:50px;
    width:128.73px;

}
.logo{
    background-image: url("amazon.png");
    background-size:cover;
    height: 50px;
    width:100%;
}

/* box2 */
.add1{
    font-size: 0.8rem;
    color: #cccccc;
    margin-left: 15px;
}
.add2{
    font-size: 1rem;
    margin-left: 3px;
}
.div-icon{
    display: flex;
    
}

/* box3 */
.nav-search{
    height: 40px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.nav-search:hover{
    border: 2px solid #febd68;
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 51px;
    font: size 1rem;;
    text-align: center;
    border:none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-input{
    width: 100%;
   border: none;
   font-size: 1rem;
}
.search-ico{
    width:45px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    background-color: #febd68;
    color: #0F1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* box4 and 5 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-weight: 700;
    font-size: 0.85rem; 
}

/* box6 */
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700px;
}
.nav-cart i{
    font-size: 30px;
}

/* panel */
.panel{
    height:39px;
    background-color: #222f3d;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel-opt p{
    display: inline; 
    margin-left:15px;   
}
.panel-opt{
    width: 70%;
    font-size: 0.85rem; 
}
.panel-deals{
    font-weight: 700px;
    font-size: 0.9rem;
}

/* hero section */
.hero-section{
    height: 500px;
    background-size: cover;
    background-image: url("hero.jpg"); 
    display:flex;
    justify-content:center;
    align-items: flex-end ;  

}

.hero-message{
    height: 30px;
    width:80%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 25px;
}
.hero-message a{
    text-decoration: none;
    color: #007185;
}

/* shop section */
.shopping{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
 .box{
     height: 400px;
     width:23%;
     background-color: white;
     padding: 20px 0px 15px;
     margin-top: 15px;
}
 .box-img{
    height: 300px; 
    background-image: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
 
 }
 .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .box-content p{
    color: #007185;
 }

 /* footer panel */
 footer{
    margin-top: 10px;
 }
 .footer-panel1{
    height: 49px;
    font-size: 0.9rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
}
.footer-panel2{
    border-top: 1.5px solid transparent;
    border-bottom: 1.5px solid whitesmoke;
    height: 300px;
    display: flex;
    justify-content:  space-evenly;
    color: white;
    background-color: #222f3d;
}
ul{
    margin-top: 25px;
}
ul p{
    font-weight: 700px;
}
ul a{
    margin-top: 10px;
    display: block;
    font-size: 0.8.5rem;
    color: #dddddd;
}
.footer-panel3{
    background-color: #222f3d;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image:url('amazon.png');
    background-size:cover;
    height: 50px;
    width: 129px;
}
.footer-panel4{
    background-color: #0F1111;
    color: white;
    height: 100px;
    /* display: flex;
    justify-content: center;
    align-items: centers; */
}
.pages{
    font-size: 0.7rem; 
    text-align: center;
    padding-top: 25px;
}
.copy-rights{
    margin-top: 5px;
    font-size: 0.7rem;
    text-align: center;
}